.footer {
    background: #f8f9fa;
    padding: 30px 20px;
    margin-top: 40px;
    border-top: 1px solid #ddd;
     font-size: 0.875em;;
}

.footer-container {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer h4 {
    margin-bottom: 10px;
    font-size: 0.875em;
    color: #454444;
}

.footer a {
    color: #646161;             
    display: block;          
    margin-bottom: 6px;
    background: none;       
    border: none;            
    padding: 0;    
    text-decoration: none;         
}

.footer a:hover {
    color: #000;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #7d7d7d;
    font-size: 0.875em;
}
body.high-contrast .footer {
    background: #000;
    color: #fff;
    border-top: 1px solid #fff;
  }
  
  body.high-contrast .footer h4 {
    color: #fff;
  }
  
  body.high-contrast .footer a {
    color: #00ffff;
  }
  
  body.high-contrast .footer a:hover {
    color: #fff;
  }
  
  body.high-contrast .footer-bottom {
    color: #ccc;
  }