<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='account_page.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>

  {% include 'navbar.html' %}

  <div class="about-us">
    <h1>Seeker is a intelligent recommendation engine , that aims to provide personalised recommendations about jobs </h1>

  </div>

  {%include 'footer.html'%}
</body>
</html>