<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Account - Seeker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='forgot_password.css') }}">
<link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
<script src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body>

{% include 'navbar.html' %}
{%include 'navbar.html'%}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="forgot-password-container">

<h1>Forgot Password</h1>

<form id="forgot_password" method="POST" action="{{ url_for('forgot_password') }}" class="reset-form">

<input type="email" name="email" placeholder="Enter email of your account" class="entrybox" required>

<button type="submit" class="submit">Continue</button>

</form>

</div>

</body>
</html>