<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account- Seeker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='account_page.css') }}">
</head>

<h1>Forgot password page</h1>
{% include 'navbar.html'%}

<form id="forgot_password" method="POST" action="{{url_for('forgot_password')}}">
<input type="email" name="email" placeholder="Enter email of your account" class="entrybox">
<button type="submit" class="login" >Enter</button><br><br>
</form>
</html> 