<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Seeker</title>
    <link rel="icon" type="image/png"href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body>
{% include 'navbar.html'%}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}

        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<div class="Login">
<h1> Login page</h1>

<form id="loginform" method="POST" action="{{ url_for('login_page') }}">
    <input type="email" name="email"placeholder="Email" class="entrybox" required><br><br>
    <input type="password" name="password"placeholder="Password" class="entrybox" required><br><br>
    <button type="submit" class="login" >Login</button><br><br>
    <button type="submit" class="forgot_password" onclick="window.location.href='{{url_for('forgot_password')}}'">Forgot password</button>
    <button type="button" class="signup" onclick="window.location.href='{{ url_for('signup_page') }}'">
        Create new account
    </button>
</div>

{%include 'footer.html'%}
</body>
</html>