<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - Seeker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='account_page.css') }}">
</head>
<body>
{% include 'navbar.html' %}

<div class="forgot-password-container">
    <h1>Reset Password</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    <form method="POST">
        <textarea placeholder="{{email}}"></textarea>
        <input type="password" name="password1" placeholder="New password" class="entrybox" required>
        <input type="password" name="password2" placeholder="Confirm new password" class="entrybox" required>
        <button type="submit" class="login">Reset Password</button>
    </form>
</div>
</body>
</html>