<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - Seeker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset_password.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
</head>

{%include 'navbar.html'%}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<div class="forgot-password-container">
    <h1>Reset Password</h1>

    

    <form method="POST">
        <input type="text" value="{{ email }}" class="entrybox" readonly>
        <input type="password" name="password1" placeholder="New password" class="entrybox" required>
        <input type="password" name="password2" placeholder="Confirm new password" class="entrybox" required>
        <button type="submit" class="login">Reset Password</button>
    </form>
</div>
{%include 'footer.html'%}
</body>
</html>