<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload CV</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='upload_cv.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
  
</head>

<body>
  {% include 'navbar.html' %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}



<h1> Upload your skills and experiences</h1>

<form method="POST" action="{{ url_for('extract_skills_from_cv') }}" enctype="multipart/form-data">
  <input type="file" name="cv" accept="application/pdf" class="entrybox" required>
  <button type="submit" class="loged">Upload PDF & Extract Skills</button>
</form>

<form method="POST" action="{{ url_for('upload_cv') }}">
    <input type="hidden" name="action" value="add_skill">
  
    <div class="skill-input">
      <input type="text" name="skills" class="entrybox"
             placeholder="e.g. Python, Teamwork, Excel" required>
      <button type="submit" class="loged">Add</button>
    </div>
  </form>

  <ul class="skill-list">
    {% for us in user.skills %}
      <li class="skill-item">
        {{ us.skill.name }}
  
        <form method="POST" action="{{ url_for('upload_cv') }}" class="delete-form">
          <input type="hidden" name="action" value="delete_skill">
          <input type="hidden" name="skill_id" value="{{ us.skill.id }}">
          <button type="submit" class="delete-btn">✕</button>
          
        </form>
      </li>
    {% endfor %}
  </ul>
  <form method="POST" action="{{ url_for('upload_cv') }}" class="delete-all-form">
    <input type="hidden" name="action" value="delete_all">
    <button type="submit" class="remove-all-btn">Remove all</button>
  </form>

  <form method="POST" action="{{ url_for('upload_cv') }}">
    <input type="hidden" name="action" value="add_goals">
  
    <div class="goals-input">
        <input type="text" name="goals" class="entrybox"
               placeholder="e.g. Software Engineer, Data Analyst" required>
        <button type="submit" class="loged">Add</button>
      </div>
    </form>
    
    {% if user.career_goal %}
    <div class="goal-item">
      Your career goal: {{ user.career_goal }}
      <form method="POST" action="{{ url_for('upload_cv') }}" class="delete-form">
        <input type="hidden" name="action" value="delete_goal">
        <input type="hidden" name="career_goal" value="{{ user.career_goal }}">
        <button type="submit" class="delete-btn">✕</button>
      </form>
    </div>
  {% else %}
    <p>No career goal added yet</p>
  {% endif %}

  <form method="POST" action="{{ url_for('upload_cv') }}">
    <input type="hidden" name="action" value="save_experience">
  
    <div class="form-group">
      <select id="experience" name="experience" class="experience-dropdown">
        <option value="">Select your experience level</option>
        <option value="Junior" {% if user.experience_level == "Junior" %}selected{% endif %}>Junior</option>
        <option value="Mid-level" {% if user.experience_level == "Mid-level" %}selected{% endif %}>Mid-level</option>
        <option value="Senior" {% if user.experience_level == "Senior" %}selected{% endif %}>Senior</option>
      </select>
  
      <button type="submit" class="save-btn">Save</button>
    </div>
  </form>
  <p>{{user.experience_level}}</p>
  {%include 'footer.html'%}
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>